mixin news(json)
	table(
		role="presentation",
		cellspacing="0",
		cellpadding="0",
		border="0",
		width="100%"
	)
		tbody
			tr 
				td(
					align="center",
					valign="top",
					style="font-size: 0; padding: 10px 0 0; background-color: #ffffff"
				)
					| <!--[if mso]>
					| <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="620">
					| <tr>
					| <td valign="top" width="310">
					| <![endif]-->
					div(
						style="display: inline-block; margin: 0 -1px; width: 100%; min-width: 200px; max-width: 310px; vertical-align: top"
					)
						table(
							role="presentation",
							cellspacing="0",
							cellpadding="0",
							border="0",
							width="100%"
						)
							tbody
								tr
									td(
										style="padding: 20px"
									)
										table(
											role="presentation",
											cellspacing="0",
											cellpadding="0",
											border="0",
											width="100%",
											style="font-size: 14px; text-align: left"
										)
											tbody
												tr
													td(
														align="center"
													)
														img(
															src=json.img,
															width="290",
															height="210",
															border="0",
															alt=json.title,
															style="width: 100%; max-width: 290px; height: auto; background: #ffffff"
														)
					| <!--[if mso]>
					| </td>
					| <td valign="top" width="310">
					| <![endif]-->
					div(
						style="display: inline-block; margin: 0 -1px; width: 100%; min-width: 200px; max-width: 310px; vertical-align: top"
					)
						table(
							role="presentation",
							cellspacing="0",
							cellpadding="0",
							border="0",
							width="100%"
						)
							tbody
								tr
									td(
										style="padding: 20px"
									)
										table(
											role="presentation",
											cellspacing="0",
											cellpadding="0",
											border="0",
											width="100%",
											style="font-size: 14px; text-align: left"
										)
											tbody
												tr
													td(
														valign="top",
														style="padding-top: 0; padding-bottom: 10px; text-align: left; font-family: arial"
													)
														a(
															href=json.href,
															target="_blank",
															style="font-weight: bold; font-size: 14px; color: #000000; text-decoration: none; line-height: 18px"
														)
															if (json.italic)
																em 
																	| #{json.title}
															else
																if (json.title_alt)
																	span(
																		style="color: #007fa3"
																	)
																		| #{json.title}
																else
																	| #{json.title}
												tr 
													td(
														valign="top",
														style="padding-top: 5px; padding-bottom: 5px; text-align: left; font-size: 14px; font-family: arial; line-height: 18px; color: #000000"
													)
														block
												if (!json.hidenLink)
													tr
														td(
															style="font-family: Arial; padding-top: 10px"
														)
															+button(json.href, 'left')
																if (json.button_text)
																	| #{json.button_text}
																else
																	| Read more
					| <!--[if mso]>
					| </td>
					| </tr>
					| </table>
					| <![endif]-->
