+meta
	+preview('Dentistry recognizes three outstanding alumni and celebrates the impact of their contributions')
	+container
		+header('APRIL 2021')
		// body start
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section__no-hader('background-color: #ffffff; padding: 0px 30px 20px')
			img.fluid.g-img(
				src='https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/Alumni_of_Influence_eblast_banner_copy.png',
				width='620',
				height='auto',
				alt='Dentistry recognizes three outstanding alumni and celebrates the impact of their contributions',
				border='0',
				style='width: 100%; max-width: 620px; height: auto; background: #dddddd; margin: 0 auto'
			)
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section__no-hader('background-color: #ffffff; padding: 0px 30px 0')
			+p
				| The Faculty of Dentistry is proud to announce this year’s recipients of the Alumni of Influence award. These awards recognize our outstanding alumni and celebrate the profound ways in which they serve patients, our school, and our communities.
			+p
				| Previously called the Award of Distinction, the Faculty updated these awards in 2020 to better acknowledge dental professionals who influence care in a wider range of ways.
			+p
				| Join us in congratulating
				|
				+strong
					| Farel Anderson
				| ,
				|
				+strong 
					| LouAnn Visconti
				| , and
				|
				+strong
					| Sneha Abhyankar
				| .
			| Through their leadership, compassion and tireless commitment, these alumni are championing improved access to care, serving communities in need and building a brighter future — for their patients, the profession and society as a whole.
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section__no-hader('background-color: #ffffff; padding: 0px 30px 20px')
			//- +news({ title: "", img: "", href: '' })
			//- 	| 
			// -------------------------------------------------------------------
			+news({ title: "Farel Anderson 6T6", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/461A4637.JPG", href: 'https://www.dentistry.utoronto.ca/farel-anderson-influencer-2021' })
				+p 
					| At 12 years old, Farel Anderson had two goals: help others and become a dentist.
			+news({ title: "LouAnn Visconti 8T8", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/LV_eblast.png", href: 'https://www.dentistry.utoronto.ca/louann-visconti-influencer-2021' })
				+p 
					| LouAnn Visconti believes that orthodontics is about more than straightening teeth — it’s about positive psychological impact.
			+news({ title: "Sneha Abhyankar 8T1 DIP DPH, 8T5 MSc, 8T9", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/SnehaAbhyankar-March15-2021-FINAL-3.jpg", href: 'https://www.dentistry.utoronto.ca/sneha-abhyankar-influencer-2021' })
				+p 
					| Sneha Abhyankar turns challenges into opportunities to improve her own life and the lives of others.
			br
			br
			+p 
				em 
					| Interested in learning more about the Alumni of Influence award?
					|
					+link('https://www.dentistry.utoronto.ca/alumni-of-influence-award')
						| Visit our website
					| .
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// body end
		+footer
