+body__pharmacy
	//- ///
	//- +section__pharmacy("Special Announcement")
	//- ///
	//- +layout_6({ subheader: "Understanding Vaccine Hesitancy with Dr. Anna Taddio",image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/05/animation.jpeg", text: "Dr. Anna Taddio teamed-up with the Leslie Dan Faculty of Pharmacy Communications Office to develop an animated video that addresses questions about the COVID-19 vaccine and builds vaccine confidence.", link: "https://pharmacy.utoronto.ca/news-announcements/video-understanding-vaccine-hesitancy-anna-taddio", link_text: "Read more" })
	///
	+section__pharmacy("Donor Impact")
	///
	+layout_6({ subheader: "Class of 7T1 celebrates a virtual 50th reunion and establishes named award at the Leslie Dan Faculty of Pharmacy",image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/09/class_7T1.jpg", text: "In a first for the Office of Advancement and Alumni Relations, the Class of 7T1 reunited via Zoom in celebration of their Golden T, the 50th anniversary of their graduation from the Leslie Dan Faculty of Pharmacy. This unique milestone also celebrated the fundraising efforts of these distinguished alumni in exceeding their goal to establish a named award for students in financial need.", link: "https://www.pharmacy.utoronto.ca/news-announcements/class-7t1-celebrates-virtual-50th-reunion-and-establishes-named-award-leslie-dan-faculty-pharmacy", link_text: "Read more" })
	///
	+section__pharmacy("Research Impact")
	///
	+layout_1({ subheader: "Pharmacist brings global view to community practice and volunteering",image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/09/orleans_lindsay.jpg", text: "Eustace Orleans-Lindsay is a manager at the Loblaw pharmacy in the Real Canadian Superstore in Simcoe, where he also volunteers as a community leader and health advocate for seasonal agricultural workers.", link: "https://www.pharmacy.utoronto.ca/news-announcements/pharmacist-brings-global-view-community-practice-and-volunteering", link_text: "Read more" })
	+layout_6({ subheader: "Start-up built by U of T alumnus develops Nespresso machine for protein production",image: "https://via.placeholder.com/680x290.png?text=Need+IMG+medicine_by_design.jpg", text: "Manufactured proteins are used as therapeutics, industrial catalysts and biomedical research tools – just to name a few applications, but making them is a time-consuming and complex process. Now, a new venture called Liberum formed within the University of Toronto’s Medicine by Design community, including Aidan Tinafar, graduate student from the Leslie Dan Faculty of Pharmacy, and co-founder and CEO of Liberum, wants to make manufacturing proteins nearly as simple as brewing a cup of coffee.", link: "https://alumni.utoronto.ca/news-and-stories/news-and-articles/startup-built-u-t-alumnus-aidan-tinafar-develops-nespresso", link_text: "Read more" })
	///
	+section__pharmacy("Alumni Events")
	///
	+layout_1({ subheader: "Alumni Spotlight: Heather Hadden",image: "https://via.placeholder.com/200x200.png?text=Need+IMG", text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.", link: "NEED_LINK", link_text: "Read more" })
	+layout_2({ subheader: "Volunteer Opportunity: Become an Alumni Mentor!",image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/09/mentor_call.jpg", text: "Reconnect with the Office of Advancement and Alumni Relations at the Leslie Dan Faculty of Pharmacy by volunteering as a mentor! Mentoring at the Leslie Dan Faculty of Pharmacy will provide alumni the chance to make an impact on the lives of undergraduate students by sharing their experiences and knowledge all while having the opportunity to improve their leadership skills and build their professional network. Make a difference in the professional lives of PharmD students - apply today!", link: "mailto:alumni.pharmacy@utoronto.ca", link_text: "Apply today" })
	///
	+section__pharmacy("Alumni on Social")
	///
	+layout_3({ text: "As part of a network of over 10,400 alumni living and working all over the world, you are part of a community that is moving science and health! We invite you to join our pharmacy community on Facebook and LinkedIn. Click the link below to visit our Alumni & Donor page and stay connected.", link: "NEED_LINK", link_text: "Follow today" })
	///
	+section__pharmacy("Our Alumni")
	///
	+layout_6({ subheader: "Class Notes",image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/09/class_notes.jpg", text: "Following the Leslie Dan Faculty of Pharmacy’s GoldenT Reunion in celebration of classes 50th and 60th anniversaries the office of advancement caught up with so many alumni who wanted to share what they have been up to over the years!" })
		h3(
			style="color: #002a5c; font-weight: bold; margin-bottom: 5px"
		)
			| Hugh Gale MacKinnon, 6T1
		p 
			| Gale is happily retired after 42 years at MacKinnon Guardian Drugs, Niagara Falls. He enjoyed many years on OPA Council, and was President in 1983. Gale has enjoyed sailing his sloop on Lake Ontario and on larger vessels from Manitoulin Island, Caribbean, and Mediterranean Seas.
		h3(
			style="color: #002a5c; font-weight: bold; margin-bottom: 5px"
		)
			| Judith (Judy) Y. Mitchell, 6T1
		p 
			| In 1963, Judy moved to British Columbia and began an off-again on-again career there by moving back and forth to Ontario a couple of times. Judy managed 3 clinic pharmacies and was staff pharmacist at several more. Her last job before retiring was in Belleville, Ontario.
		p
			| Judy’s next move was to the local golf course where she happily played for many years, notably with a hole in one in 2010!
		h3(
			style="color: #002a5c; font-weight: bold; margin-bottom: 5px"
		)
			| Linda and Mac Sparrow, 7T0
		p 
			| Linda and Mac retired from pharmacy practice in January 2012 when Dell Pharmacy, the company for which they both worked, was sold to Rexall. Since then, they have pursued their love of travel by visiting places such as Antarctica, Africa, Australia, New Zealand, East Asia, and India. They are looking forward to their trips to Croatia and Egypt in 2022.
		h3(
			style="color: #002a5c; font-weight: bold; margin-bottom: 5px"
		)
			| Anne Milochik, 7T1
		p 
			| After graduating from pharmacy in 1971, Anne worked in hospital pharmacy in Barrie and Toronto. She completed a Masters in Pharmacology from University of Alberta in 1978. Anne volunteers at the Faculty as an interviewer for MMIs and a mentor to students interested in careers in the pharmaceutical industry, as well as the Mississauga Food Bank, Pathways Community Programs, and Mississauga Symphony Orchestra (currently Board President).
		h3(
			style="color: #002a5c; font-weight: bold; margin-bottom: 5px"
		)
			| Constance (Connie) Sellors, 7T1
		p 
			| Connie was born and raised in Forest, Ontario. After 3 years at University of Western Ontario in Honours Physiology, she transferred into second year Pharmacy at U of T in 1968. Connie enjoyed her over 40 years in community and hospital pharmacy. She holds a CPhA Centennial Pharmacist Award for her contributions to the profession over the last 100 years!
		h3(
			style="color: #002a5c; font-weight: bold; margin-bottom: 5px"
		)
			| Celso A. Teixeira, 7T1
		p 
			| Celso completed his hospital residency in London, Ontario, winning the 1974 Sandoz Award for Best Residency Project in Canada. He was among the first pharmacists to open University Hospital (1972) in London - established first hospital-wide IV admixture service in Canada. Celso completed his Masters in Health Services Administration at the University of Alberta in 1975.
	+layout_1({ subheader: "U of T pharmacy alum takes home Masterchef Canada top prize",image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/09/christopher_siu.jpg", text: "Christopher Siu combines East Asian heritage, Canadian upbringing and scientific education to create original dishes.", link: "https://www.pharmacy.utoronto.ca/news-announcements/u-t-pharmacy-alum-takes-home-masterchef-canada-top-prize", link_text: "Read more" })
	///
	+section__pharmacy("Our Students")
	///
	+layout_5({ subheader: "Grads to Watch: Julian Gilmore", image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/09/gilmore.jpg", text: "Julian Gilmore credits Leslie Dan Faculty of Pharmacy with providing opportunities to explore clinical career paths.", link: "https://www.pharmacy.utoronto.ca/news-announcements/new-pharm-sci-grad-aims-build-bridges-between-research-and-clinical-work", link_text: "Read more" }, { subheader: "Grads to Watch: Andrew Toye Ojo", image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/09/toye_ojo.jpg", text: "Andrew Toye Ojo, a recent PhD graduate from U of T’s Leslie Dan Faculty of Pharmacy, is impacting patient care with his advanced knowledge of pharmaceutical sciences and a career in health care consulting.", link: "https://www.pharmacy.utoronto.ca/news-announcements/grads-watch-andrew-toye-ojo-uses-phd-start-career-healthcare-consulting", link_text: "Read more" })
	+layout_5({ subheader: "Grads to Watch: Donna Rahmatian", image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/09/rahmatian.jpg", text: "2021 PharmD for Pharmacists grad Donna Rahmatian says the program helped her build important research skills she plans to use in future clinical practice.", link: "https://www.pharmacy.utoronto.ca/news-announcements/grads-watch-donna-rahmatian-gains-research-experience-and-enhanced-clinical-skills", link_text: "Read more" }, { subheader: "Grads to Watch: Tierra-Marie Colonna", image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/09/colonna.jpg", text: "Following graduation, PharmD graduate Tiera-Marie Colonna plans to continue in a career in industry, while still practising part-time in community pharmacy to maintain her direct connection to patient care.", link: "https://www.pharmacy.utoronto.ca/news-announcements/grads-watch-tiera-marie-colonna-pursue-career-pharmaceutical-industry", link_text: "Read more" })
	///
	+section__pharmacy("Faculty Update")
	///
	+layout_6({ subheader: "New tenure-stream professors bring high-impact research and teaching expertise to the Leslie Dan Faculty of Pharmacy",image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/09/tadrous_li.jpg", text: "The Leslie Dan Faculty of Pharmacy welcomes Mina Tadrous and Bowen Li as tenure-stream assistant professors.", link: "https://www.pharmacy.utoronto.ca/news-announcements/new-tenure-stream-professors-bring-high-impact-research-and-teaching-expertise-leslie-dan-faculty-pharmacy", link_text: "Read more" })
	+layout_1({ subheader: "New Donnelly Centre director on advancing bimolecular sciences in Toronto", image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/09/stephane_angers.jpg", text: "Professor Stephane Angers, the new director of the Donnelly Centre for Cellular and Biomolecular Research, spoke about his vision for the next five years. Professor Angers’s five-year term begins September 1, 2021, and on behalf of the Office of Advancement and Alumni Relations, we thank Professor Angers for his extraordinary research and contributions to the Leslie Dan Faculty of Pharmacy.", link: "https://www.pharmacy.utoronto.ca/news-announcements/new-donnelly-centre-director-advancing-biomolecular-sciences-toronto", link_text: "Read more" })
	///
	+section__pharmacy("Upcoming Events")
	///
	+layout_6({ subheader: "Alumni Networking and Education Series: COPD/Asthma",image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/09/anes_sept29.jpg", text: "The Alumni Networking and Education Series is back! Join us virtually on Wednesday, September 29 from 6:30 p.m. to 7:30 p.m. for a presentation by John Papastergiou (Leslie Dan Faculty of Pharmacy) where he discusses.", link: "NEED_LINK", link_text: "Register today" })
	+layout_3({ text: "Join your classmates celebrating your 35th anniversary reunion on Manitoulin Island. The reunion will be held on Oct 2nd, 2021 weekend at Woodside Beach Cottages in Providence Bay. If you would like to attend you can obtain further information by contacting Mike Bondi.", link: "mailto:woodsidebeach@gmail.com ", link_text: "Contact Mike Bondi" })
	///
	+section__pharmacy("Job Board")
	///
	+layout_3({ text: "Check our job board for new employment opportunities. If you would like to post a job for our alumni please contact us at <a style='text-decoration: underline; color: #ffffff' href='mailto:alumni.pharmacy@utoronto.ca'>alumni.pharmacy@utoronto.ca</a>", link: "https://www.pharmacy.utoronto.ca/about-leslie-dan-faculty-pharmacy/job-opportunities", link_text: "Learn more" })
	///
	+section__pharmacy("Educational Opportunities")
	///
	+layout_5({ subheader: "CPE Speaker Series", image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/05/cpe_event.png", text: "The Centre for Practice Excellence hosts a monthly Speaker Series on critical issues impacting the future of health care and pharmacy. The CPE Speaker Series takes place on the first Thursday of each month and usually consist of a 20-30 minute presentation followed by 30 minutes of open discussion and Q&A.<br><br>For more information or to be notified of upcoming speakers, please contact the CPE Speaker Series at <a href='mailto:cpe.pharmacy@utoronto.ca '>cpe.pharmacy@utoronto.ca </a>", link: "https://www.pharmacy.utoronto.ca/research/centres-initiatives/centre-practice-excellence/cpe-speaker-series", link_text: "Learn more" }, { subheader: "Continuous Professional Development", image: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/05/continuing_studies.png", text: "The Continuous Professional Development programming equips pharmacists, industry professionals, researchers, scientists, and allied professionals to better respond to the shifting needs of the profession.<br><br>Explore course offerings available through U&nbsp;of&nbsp;T’s School of Continuing Studies.", link: "https://learn.utoronto.ca/programs-courses/health-and-social-sciences/pharmacy/continuous-professional-development", link_text: "Learn more" })
