+meta
	+preview('Dentistry’s Great Alumni Event: Home Edition')
	+container
		+header('MAY 2021')
		// body start
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section__no-hader('background-color: #ffffff; padding: 0px 30px 20px')
			img.fluid.g-img(
				src='https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/Alumni_of_Influence_eblast_banner_copy.png',
				width='620',
				height='auto',
				alt='Dentistry recognizes three outstanding alumni and celebrates the impact of their contributions',
				border='0',
				style='width: 100%; max-width: 620px; height: auto; background: #dddddd; margin: 0 auto'
			)
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section__no-hader('background-color: #ffffff; padding: 0px 30px 0')
			+p
				strong(
					style='font-size: 150%; color: #072138'
				)
					| Dentistry’s Great Alumni Event: Home Edition
			+p
				+strong
					| Another first we’ll do together.
				|
				| Unwind and reconnect from the comfort of your home. Dentistry’s biggest alumni event of the year is going virtual. The 2021 edition promises to be a lot more than a cocktail party. From a complimentary CDE course to cooking with celebrity chef Bonnie Stern, from a young alumni panel to family activities, we’re bringing the fun of Dentistry’s alumni reunion to your home.
			center 
				+button-alt('https://www.dentistry.utoronto.ca/the-great-alumni-event')
					| VIEW ALL EVENTS
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section__no-hader('background-color: #ffffff; padding: 0px 30px 20px')
			//- +news({ title: "", img: "", href: '' })
			//- 	| 
			// -------------------------------------------------------------------
			+news({ title: "Friday, May 28, 2021", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/461A4637.JPG", href: 'https://zoom.us/webinar/register/4216166875093/WN_zMF9WsdNRRKzsSoQRXoQGw', button_text: "REGISTER" })
				+p
					span 
						| A Conversation with U of T Dentistry’s Young Alumni
					br
						| 6:30–7:30 p.m.
				+p
					| Join young alumni for a lively informal chat as they share stories about their experience in the profession and look back at their time at U of T dental school.
				+p
					| With Michael Park 0T6, Nicole Maciel 1T1, and Monica Pulec 1T6.
				+p 
					| Moderated by Dagmar Justa 8T1.
			// -------------------------------------------------------------------
			+news({ title: "Thursday, May 27, 2021", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/LV_eblast.png", href: 'https://www.dentistry.utoronto.ca/louann-visconti-influencer-2021', button_text: "REGISTER" })
				+p
					span 
						| Dentistry’s Cooking with Bonnie Stern
					br
						| 6:30–8:00 p.m.
				+p 
					| Celebrity chef Bonnie Stern loves teaching people how to cook. Join us for an exclusive zoom cooking class with Bonnie as she leads you through creating great recipes for a special evening.
	// ---------------------------------------------------------------------
	// ---------------------------------------------------------------------
	// ---------------------------------------------------------------------
	// body end
	+footer
