mixin container
	| <!--
	| Set the email width. Defined in two places:
	| 1. max-width for all clients except Desktop Windows Outlook, allowing the email to squish on narrow but never go wider than 680px.
	| 2. MSO tags for Desktop Windows Outlook enforce a 680px width.
	| Note: The Fluid and Responsive templates have a different width (600px). The hybrid grid is more "fragile", and I've found that 680px is a good width. Change with caution.
	| -->
	div(
		style='max-width: 680px; margin: 0 auto',
		class='email-container'
	)
		| <!--[if mso]>
		| <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="680">
		| <tr>
		| <td>
		| <![endif]-->
		|
		|
		table(
			role='presentation',
			cellspacing='0',
			cellpadding='0',
			border='0',
			width='100%',
			style='margin: auto'
		)
			block
		|
		|
		| <!--[if mso]>
		| </td>
		| </tr>
		| </table>
		| <![endif]-->
