mixin footer
	| <!-- Divider Wrap -->
	tr
		td(
			style='padding: 0 10px 0px 10px; background-color: #ffffff'
		)
			table(
				cellspacing='0',
				cellpadding='0',
				border='0',
				width='100%',
				style='width: 100% !important'
			)
				tbody
					tr
						td(
							align='center',
							valign='top',
							width='100%',
							height='1',
							style='background-color: #000000; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; mso-line-height-rule: exactly; line-height: 1px'
						)
							| <!--[if gte mso 15]>&nbsp;<![endif]-->
	|
	| <!-- Footer 2 Columns -->
	tr
		td(
			align='center',
			valign='top',
			style='font-size: 0; padding: 0px 30px; background-color: #ffffff'
		)
			| <!--[if mso]>
			| <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="620">
			| <tr>
			| <td valign="top" width="310">
			| <![endif]-->
			.stack-column-center(
				style='display: inline-block; width: 100%; min-width: 200px; max-width: 310px; vertical-align: top'
			)
				table(
					role='presentation',
					cellspacing='0',
					cellpadding='0',
					border='0',
					width='100%'
				)
					tbody
						tr
							td.stack-column-center(
								style='padding-top: 20px; font-family: arial; font-size: 13px; color: #666666',
								align='left'
							)
								a(
									href='##TrackClick##https://www.dentistry.utoronto.ca/',
									target='_blank',
									style='color: #008bb0'
								)
									img(
										src='https://alumni.utoronto.ca/sites/default/files/inline-images/dentistry-logo-small.jpg',
										alt='Faculty of Dentistry Logo',
										height='50',
										width='220',
										border='0',
										style='width: 220px; border: 0 !important'
									)
								br
								br
								strong
									| University&nbsp;of&nbsp;Toronto
									br
									| Faculty of Dentistry
									br
									| Office of Advancement
								br
								| 124 Edward Street
								br
								| Toronto, Ontario M5G 1G6
								br
								| Tel: 416-864-8200
								br
								| web:
								|
								+link("##TrackClick##https://www.dentistry.utoronto.ca/alumni")
									| dentistry.utoronto.ca/alumni
								br
								| give:
								|
								+link("##TrackClick##https://donate.utoronto.ca/give/show/21")
									| donate.utoronto.ca/dentistry
			| <!--[if mso]>
			| </td>
			| <td valign="top" width="310">
			| <![endif]-->
			.stack-column(
				style='display: inline-block; width: 100%; min-width: 200px; max-width: 310px; vertical-align: top'
			)
				table(
					role='presentation',
					cellspacing='0',
					cellpadding='0',
					border='0',
					width='100%'
				)
					tbody
						tr
							td(
								align='center',
								style='padding-top: 20px; padding-left: 40px'
							)
								table.stack-column-center(
									role='presentation',
									cellspacing='0',
									cellpadding='0',
									border='0',
									width='100%',
									style='text-align: left'
								)
									tbody
										tr
											td.pl-0-on-narrow(
												style='font-family: arial, sans-serif; font-size: 14px; line-height: 16px; padding-top: 10px; padding-bottom: 10px'
											)
												strong(
													style='font-size: 18px; font-family: arial, sans-serif; text-align: left; color: #002a5c'
												)
													| Follow Us & Share Your Story
										tr
											td.pl-0-on-narrow(
												style='font-family: arial, sans-serif; font-size: 14px; color: #002a5c; line-height: 14px; padding-top: 10px; padding-bottom: 10px'
											)
												strong
													| @uoftdentistry
												|
												| |
												|
												strong
													| #uoftdentistry
										tr
											td.pl-0-on-narrow(
												style='font-family: arial, sans-serif; font-size: 15px; line-height: 45px; padding-top: 10px'
											)
												a(
													href='##TrackClick##https://www.facebook.com/UofTDentistry',
													target='_blank',
													style='border: 0; text-decoration: none'
												)
													img(
														src='https://alumni.utoronto.ca/sites/default/files/inline-images/facebook.gif',
														alt='U&nbsp;of&nbsp;T Facebook',
														width='38',
														height='38',
														style='border: 0'
													)
												| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												a(
													href='##TrackClick##https://twitter.com/UofTDentistry',
													target='_blank',
													style='border: 0; text-decoration: none'
												)
													img(
														src='https://alumni.utoronto.ca/sites/default/files/inline-images/twitter.gif',
														alt='U&nbsp;of&nbsp;T Twitter',
														width='38',
														height='38',
														style='border: 0'
													)
												| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												a(
													href='##TrackClick##https://www.youtube.com/channel/UCtnHbcZUjQa3NnttGcvHGJw',
													target='_blank',
													style='border: 0; text-decoration: none'
												)
													img(
														src='https://adcomms.utoronto.ca/email-templates/dentistry/2020/02/youtube.png',
														alt='U&nbsp;of&nbsp;T Instagram',
														width='35',
														height='35',
														style='border: 0'
													)
												| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												a(
													href='##TrackClick##https://www.facebook.com/groups/299575967294555/',
													target='_blank',
													style='border: 0; text-decoration: none'
												)
													img(
														src='https://adcomms.utoronto.ca/email-templates/dentistry/2020/02/fb-groups.png',
														alt='U&nbsp;of&nbsp;T LinkedIn',
														width='35',
														height='35',
														style='border: 0'
													)
			| <!--[if mso]>
			| </td>
			| </tr>
			| </table>
			| <![endif]-->
	|
	|
	| <!-- Footer 1 Column -->
	tr
		td(
			style='background-color: #ffffff; text-align: center',
			align='center'
		)
			table(
				role='presentation',
				cellspacing='0',
				cellpadding='0',
				border='0',
				width='100%'
			)
				tbody
					tr
						td(
							style='padding: 20px 25px; font-family: helvetica, arial, sans-serif; font-size: 10px; line-height: 11px; color: #000000; line-height: 18px; text-align: center',
							align='center'
						)
							| The University&nbsp;of&nbsp;Toronto respects your privacy. We do not rent, trade or sell our mailing lists.
							br
							| Copyright © 2020 University&nbsp;of&nbsp;Toronto. All rights reserved.
							br
							nowebversion
								| To opt out of future messages of this kind, please
								|
								+link("mailto:subscriptions@utoronto.ca?subject=Unsubscribe%20DENT_ALL_ALL_Newsletter_##OptionalParameter3##%20|%20Dentistry Alumni Newsletter")
									| contact us
								br
								| ##OptionalParameter3##
								br
								| ##TrackImpression##
